
<h1 class="center calcula">Precios</h1>
     <table class="bordered calcula fadeIn">
        <thead>
          <tr>
              <th>Moneda</th>
              <th>Valor CLP</th>
          </tr>
        </thead>
        <tbody>
          <% @Coins.each do |c|%>
          <tr>
            <td><%= c[:name] %></td>
            <td><%= c[:coin].parsed_response.first[:price_clp]%></td>
          </tr>
          <% end %>

        </tbody>
      </table>